### Why dataclasses?

In [1]:
# Encapsulate data for
# EV -> store several instances of EVs

In [2]:
# range -> how long the car would go on a single charge
# make -> manufacturer
# price

In [3]:
bolt = [100, "Chevrolet", 50000]
model_s = [520, "Tesla", 80000]
mx30 = [100, "Mazda", 30000]

In [4]:
# immutable?
bolt = (100, "Chevrolet", 50000)
model_s = (520, "Tesla", 80000)
mx30 = (100, "Mazda", 30000)

In [6]:
bolt[0] # we need to remember indexes 0->range, 1 ->make so dict?

100

In [7]:
bolt = {"range": 100, "make": "Chevrolet", "price": 50000}

In [10]:
bolt["make"] # but bolt.make not there

'Chevrolet'

In [12]:
# so we make a new type
class EV:
    def __init__(self, _range, make, price) -> None:
        self.range = _range
        self.make = make
        self.price = price

In [15]:
e1 = EV(100, "Chevrolet", 40000) # so data classes are an extension of this oop way like no boliter plate of init..

In [16]:
e1.__dict__

{'range': 100, 'make': 'Chevrolet', 'price': 40000}

### An alternative: namedtuples

In [1]:
from collections import namedtuple

In [3]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [4]:
ev1 = EV(320, "Chevrolet", 40000)

In [5]:
ev1 # default representation

ElectricVehicle(range=320, make='Chevrolet', price=40000)

In [6]:
ev1[0] # range

320

In [7]:
ev1.range # also possible

320

In [8]:
EV2 = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=(100, "Tesla", 43000))

In [9]:
EV2(200)

ElectricVehicle(range=200, make='Tesla', price=43000)

In [11]:
EV3 = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=(43000, ))

In [12]:
EV3(100, "Tesla")

ElectricVehicle(range=100, make='Tesla', price=43000)

In [13]:
EV4 = namedtuple("ElectricVehicle", "range make price", defaults=(48999, ))

In [16]:
tesla2 = EV4(100, "Tesla")

In [17]:
tesla2

ElectricVehicle(range=100, make='Tesla', price=48999)

### Point on immutability

In [18]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [19]:
ev = EV(200, "Chevy", 59000)

In [20]:
ev.range

200

In [22]:
ev.range = 300 # error becuase it is a tuple and they are immutable

AttributeError: can't set attribute

In [23]:
ev2 = EV([200, 300], "Chevy", 59000)

In [24]:
ev2.range

[200, 300]

In [25]:
id(ev2.range)

1973225677888

In [26]:
ev2.range[0] = 240 # no error

In [27]:
id(ev2.range) # id same only

1973225677888

In [29]:
ev3 = EV((200, 300), "Chevy", 59000)

In [30]:
ev3.range[0] = 250

TypeError: 'tuple' object does not support item assignment

### BONUS: Typed NamedTuple

In [31]:
from typing import NamedTuple
# from collections import namedtuple

In [32]:
class EVehicle(NamedTuple): 
    range: int
    make: str
    price: int

In [33]:
ev = EVehicle(200, "Tesla", 18000)

In [34]:
ev.range, ev.make, ev.price

(200, 'Tesla', 18000)

In [35]:
ev[0], ev[1], ev[2]

(200, 'Tesla', 18000)

In [36]:
ev.range = 400 # also immutable

AttributeError: can't set attribute

In [37]:
class EVehicle(NamedTuple): 
    range: int
    make: str
    price: int = 39000

In [38]:
ev = EVehicle(240, "Tesla") # always non defaulted attributes should be first then defaulted attributes

In [39]:
ev

EVehicle(range=240, make='Tesla', price=39000)

In [40]:
ev.price

39000

### Dataclasses

In [41]:
from dataclasses import dataclass

In [42]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [43]:
class RegularElectricVehicle:
    def __init__(self, range, make, price) -> None:
        self.range = range
        self.make = make
        self.price = price

In [44]:
ev = ElectricVehicle(100, "Tesla", 49900)

In [45]:
ev

ElectricVehicle(range=100, make='Tesla', price=49900)

In [46]:
ev.range, ev.make, ev.price

(100, 'Tesla', 49900)

### Batteries Included

In [96]:
@dataclass(order=True) # order true means it creates tuple of all attributes in class and then compares it
class ElectricVehicle:
    range: int
    make: str
    price: int

In [117]:
from functools import total_ordering

@total_ordering
class RegularElectricVehicle:
    def __init__(self, range, make, price) -> None:
        self.range = range
        self.make = make
        self.price = price
        
    def __repr__(self) -> str:
        return f"{type(self).__name__}(range={self.range}, make='{self.make}', price={self.price})"
    
    def __eq__(self, value: object) -> bool:
        if not type(value) == type(self):
            return False
        return self.range == value.range and self.make == value.make and self.price == value.price
    
    def __gt__(self, value):
        if not type(value) == type(self):
            raise TypeError("Only operations between REV are supported")
        return (self.range, self.make, self.price) > (value.range, value.make, value.price)

In [118]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(239, "Mazda", 34000)

In [119]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)
rev3 = RegularElectricVehicle(141, "Jeep", 54000)

In [120]:
ev1 # 1: __repr()

ElectricVehicle(range=240, make='Mazda', price=34000)

In [121]:
rev1

RegularElectricVehicle(range=140, make='Jeep', price=54000)

In [122]:
#2. Equality

ev1 == ev2

True

In [123]:
ev1 == ev3

False

In [124]:
rev1 == rev2

True

In [125]:
rev1 == rev3

False

In [126]:
# 3. comparison operators

ev1 > ev2

False

In [127]:
ev2 > ev3

True

In [128]:
rev1 > rev2

False

In [129]:
rev3 > rev2

True

In [130]:
rev1 <= rev2

True

### Type Hints

In [2]:
from dataclasses import dataclass

In [3]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int

In [6]:
ev = ElectricVehicle("hello", 10, 23000) # int not enforced by python at runtime

In [7]:
ev.range

'hello'

In [8]:
from typing import Any

In [9]:
@dataclass(order=True)
class ElectricVehicle:
    range: Any
    make: str # if we are not sure about datatype
    price: int

In [10]:
ev = ElectricVehicle("hello", "Tesla", 23000)

In [14]:
@dataclass(order=True)
class ElectricVehicle:
    range: object
    make: object 
    price: object

In [12]:
@dataclass(order=True)
class ElectricVehicle:
    range: ...
    make: ... 
    price: ...

### Customizing Fields

In [1]:
from dataclasses import dataclass

In [10]:
@dataclass(order=True)
class ElectricVehicle:
    range: int # in dataclass these are fields
    make: str = "Tesla"
    price: int = "56000"

In [11]:
ev = ElectricVehicle(430)

In [12]:
ev.__dict__

{'range': 430, 'make': 'Tesla', 'price': '56000'}

In [13]:
from dataclasses import field

In [22]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False) 
    price: int = field(default=56000, repr=False, compare=False)

In [28]:
ev = ElectricVehicle(420)
ev2 = ElectricVehicle(421)

In [29]:
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': 56000}

In [30]:
ev

ElectricVehicle(range=420, make='Tesla')

In [32]:
ev2 < ev

False

In [43]:
from functools import total_ordering

@total_ordering
@dataclass
class ElectricVehicle:
    range: int 
    make: str = field(default="Tesla") 
    price: int = field(default=56000, repr=False)
    
    def __gt__(self, other): # we explicitly give comparison implementation as per our needs
        if not type(self) == type(other):
            return NotImplemented
        
        return self.price < other.price # less price is good

In [44]:
ev = ElectricVehicle(420)
ev2 = ElectricVehicle(421, price=56001)

In [45]:
ev > ev2

True

In [47]:
ev >= ev2

True

### Customizing fields

In [48]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False) 
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = False

In [49]:
# luxury?
#     price > 80k and
#     make is BMW, Mercedez or Tesla

In [52]:
ev = ElectricVehicle(100, "Tesla", 40000, False)
ev1 = ElectricVehicle(100, "BMW", 140000, True)
ev2 = ElectricVehicle(100, "Audi", 30000, False)

In [70]:
# or we can use post init dunder. Post init dunder is only limited to dataclasses

@dataclass(order=True)
class ElectricVehicle:
    LUXURY_BRANDS = ("BMW", "Mercedez", "Tesla")
    
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False) 
    price: int = field(default=56000, repr=False, compare=False)
    luxury: bool = None
    
    def __post_init__(self):
        if self.luxury is None:        
            self.luxury = self.make in self.LUXURY_BRANDS and self.price > 80000

In [71]:
ev = ElectricVehicle(100, "Tesla", 40000)

In [72]:
ev

ElectricVehicle(range=100, make='Tesla', luxury=False)

In [73]:
ev1 = ElectricVehicle(100, "BMW", 140000)

In [74]:
ev1

ElectricVehicle(range=100, make='BMW', luxury=True)

In [75]:
ev2 = ElectricVehicle(100, "Tesla", 130000, False)

In [76]:
ev2

ElectricVehicle(range=100, make='Tesla', luxury=False)

### Immutability

In [77]:
from dataclasses import dataclass

In [78]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False) 
    price: int = field(default=56000, repr=False, compare=False)

In [80]:
ev = ElectricVehicle(100, "BMW", 140000)

In [81]:
ev.range = 200 # by default dataclass instance are mutable

In [82]:
class ElectricVehicle2: # read only mechanism in regular classees
    def __init__(self, range, make, price) -> None:
        self.__range = range
        self.__make = make # name mangling
        self.__price = price
        
    @property
    def range(self):
        return self.__range
    
    @property
    def make(self):
        return self.__make
    
    @property
    def price(self):
        return self.__price

In [83]:
ev = ElectricVehicle2(100, "BMW", 140000)

In [84]:
ev.__dict__

{'_ElectricVehicle2__range': 100,
 '_ElectricVehicle2__make': 'BMW',
 '_ElectricVehicle2__price': 140000}

In [86]:
ev.make = "Tesla" # read only

AttributeError: property 'make' of 'ElectricVehicle2' object has no setter

In [87]:
from dataclasses import dataclass, field

In [91]:
@dataclass(order=True, frozen=True) # read only mechanism in dataclasses
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False) 
    price: int = field(default=56000, repr=False, compare=False)

In [92]:
ev = ElectricVehicle2(100, "BMW", 140000)

In [93]:
ev.range = 200

AttributeError: property 'range' of 'ElectricVehicle2' object has no setter

In [95]:
# frozen = True -> immutable + hashable

### Inheritance

In [4]:
from dataclasses import dataclass, field

In [12]:
@dataclass(order=True)
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False) 
    price: int = field(default=56000, repr=False, compare=False)

In [14]:
@dataclass
class LuxuriousElectricVehicle(ElectricVehicle): 
    displays: int = 3
    scent_system: bool = True
    internet: bool = True
    price: int # same name fields shadow the previous value

In [15]:
lev = LuxuriousElectricVehicle(100)

In [16]:
lev.__dict__ # order of fields follows the inheritance tree

{'range': 100,
 'make': 'Tesla',
 'price': 56000,
 'displays': 3,
 'scent_system': True,
 'internet': True}

### Namedtuples vs dataclass

In [17]:
from collections import namedtuple

EVNT = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [18]:
from dataclasses import make_dataclass

In [19]:
EVDC = make_dataclass("ElectricVehicle", ["range", "make", "price"])

In [20]:
EVNT(100, "BMW", 74000)

ElectricVehicle(range=100, make='BMW', price=74000)

In [21]:
LEVNT = namedtuple("LuxuryElectricVehicle", ["mini_displays", "scent_system", "internet"])

In [24]:
EVNT(100, "BMW", 74000) == LEVNT(100, "BMW", 74000) # just a tuple comparison. Does not consider types

True

In [25]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str 
    price: int
    
@dataclass
class LuxuryElectricVehicle:
    mini_displays: int
    scent_system: str
    internet: bool

In [26]:
ElectricVehicle(100, "BMW", 74000) == LuxuryElectricVehicle(100, "BMW", 74000) # proper type comparison

False

### Skill Challenge 10

In [4]:
from dataclasses import dataclass, field

In [73]:
@dataclass(frozen=True) # this should be added other regular class only. If not using that then Python won't automatically generate methods like __init__, __repr__, __eq__, etc
class Stock:
    ticker: str
    price: int
    dividend: float = 0.0
    dividend_frequency: int = 4
    # _annual_dividend: float = field(default=None, repr=False)
    
    # def __post_init__(self): 
    #     self._annual_dividend = self.dividend*4
    
    @property
    def annual_dividend(self): 
        return self.dividend * self.dividend_frequency

In [74]:
from functools import total_ordering

@total_ordering
@dataclass
class Position:
    stock: Stock
    shares: int
    
    def __eq__(self, value):
        if not isinstance(value, Position):
            raise TypeError("Both attributes should be Position")
        return self.stock.price * self.shares == value.stock.price * value.shares
        
    def __gt__(self, value):
        if not isinstance(value, Position):
            raise TypeError("Both attributes should be Position")
        
        return self.stock.price * self.shares > value.stock.price * value.shares

In [75]:
@dataclass
class Portfolio:
    holdings: list[Position]
    _value: float = field(default=0.0, repr=False)
    _portfolio_yield: float = field(default=0.0, repr=False)
    
    def __post_init__(self):
        total_dividends = 0
        for holding in self.holdings:
            self._value += holding.stock.price * holding.shares
            total_dividends += holding.stock.annual_dividend * holding.shares
        
        self._portfolio_yield = (total_dividends/self._value)
    
    @property
    def value(self): # can also be done wihtout using post_init dunder just calculate here we done in Stock class
        return self._value
    
    @property
    def portfolio_yield(self):
        return self._portfolio_yield

In [76]:
MSFT = Stock(ticker="MSFT", price=360, dividend=0.62, dividend_frequency=4)

In [77]:
LMT = Stock(ticker="LMT", price=360, dividend=2.8, dividend_frequency=4)

In [78]:
GOOGL = Stock(ticker="GOOGL", price=2200, dividend=0, dividend_frequency=0)

In [79]:
LMT

Stock(ticker='LMT', price=360, dividend=2.8, dividend_frequency=4)

In [80]:
MSFT

Stock(ticker='MSFT', price=360, dividend=0.62, dividend_frequency=4)

In [81]:
LMT.annual_dividend

11.2

In [82]:
GOOGL.annual_dividend

0

In [83]:
p1 = Position(MSFT, 100)

In [84]:
p2 = Position(LMT, 100)

In [85]:
p3 = Position(GOOGL, 10)

In [86]:
p2

Position(stock=Stock(ticker='LMT', price=360, dividend=2.8, dividend_frequency=4), shares=100)

In [87]:
p1

Position(stock=Stock(ticker='MSFT', price=360, dividend=0.62, dividend_frequency=4), shares=100)

In [88]:
p1 == p2

True

In [89]:
p1 <= p3

False

In [90]:
p1 > p3

True

In [91]:
portfolio = Portfolio(holdings=[p1, p2, p3])

In [92]:
portfolio.portfolio_yield

0.014553191489361702

In [93]:
portfolio.value

94000.0