In [2]:
"We will use python v{}".format(3.9)

'We will use python v3.9'

In [4]:
type(3.0 + 5)

float

In [6]:
'python'.upper()

'PYTHON'

In [7]:
'pythoN'.lower()

'python'

In [12]:
list1 = ['harry', 'andrew', 'george']

In [13]:
list1[0]

'harry'

In [14]:
list1[0:11]

['harry', 'andrew', 'george']

In [16]:
# list1[-4] or list1[20] # error

In [20]:
list1[:-2]

['harry']

In [25]:
list1[0] = "garry" # mutable

In [26]:
list1

['garry', 'andrew', 'george']

In [27]:
s = "python"

In [29]:
# s[0] = 'a' # immutable

In [30]:
s = "cpp" # destroy old string object but make new so no error

In [44]:
l1 = [10, 20, "abc", 30.2, 40] # valid list
l2 = [10, 20, 30.2, 11.5] # valid list
type(l1), type(l2)

(list, list)

In [45]:
# builtin functions in list

# max(l1) # error because str and int comparison not possible
max(l2) # valid, ans = 30.2
min(l2), len(l1)

(10, 5)

In [46]:
sorted(l2)

[10, 11.5, 20, 30.2]

In [47]:
l2 # not sorted because we need to store it after sorting

[10, 20, 30.2, 11.5]

In [48]:
sorted(l2, reverse=True)

[30.2, 20, 11.5, 10]

In [49]:
l2

[10, 20, 30.2, 11.5]

In [50]:
# list methods

l2.append(24)
print("After appending 24, ", l2)

After appending 24,  [10, 20, 30.2, 11.5, 24]

In [51]:
l2.pop(-1)
print("After removing -1 index", l2)

After removing -1 index [10, 20, 30.2, 11.5]

In [52]:
l2.remove(20)
print("After removing element 20", l2)

After removing element 20 [10, 30.2, 11.5]

In [53]:
l2.append(10)

In [54]:
l2.remove(10)
print("After removing 10 from list", l2) # remove only first occurence of 10

After removing 10 from list [30.2, 11.5, 10]

In [55]:
l2.remove(10)

In [57]:
l2

[30.2, 11.5]

In [58]:
books = ["abc", "cd", "efg"]
''.join(books)

'abccdefg'

In [61]:
', '.join(books)

'abc, cd, efg'

In [66]:
# Tuples

t1 = ('Deep', 21, 'IN') # brackets are optional

In [67]:
type(t1)

tuple

In [72]:
print(t1[0])
# t1[1] = 22 # not possible, because immutable

Deep

In [73]:
# Sets

s1 = {'IT', 'CE', 'MH', 12}

In [75]:
s1.add('CH')
print("After addition, ", s1)

After addition,  {'MH', 'IT', 'CE', 12, 'CH'}

In [76]:
s1.discard('MH')
print("After discard, ", s1)

After discard,  {'IT', 'CE', 12, 'CH'}

In [78]:
# s1[0] # error because set is unordered

In [79]:
s2 = {'IT', 12}

In [81]:
print("Intersection ", s1.intersection(s2))
print("Union ", s2.union(s1))
print("Difference ", s1.difference(s2))

Intersection  {'IT', 12}
Union  {'CE', 'CH', 'IT', 12}
Difference  {'CH', 'CE'}

In [83]:
# Dictionaries

dict1 = {
    'emp1': 20,
    'emp2': 24,
    'emp3': 22
}
type(dict1)

dict

In [88]:
print(dict1['emp1'])
print(dict1.get('emp1'))

20
20

In [87]:
# dict1['emp5'] # Keyerror
print(dict1.get('emp5')) # No keyerror

None

In [90]:
dict1['emp5'] = 29

In [91]:
dict1

{'emp1': 20, 'emp2': 24, 'emp3': 22, 'emp5': 29}

In [92]:
dict1.pop('emp5')

29

In [93]:
dict1['emp2'] = 25 # dictionaries are mutable

In [94]:
dict1

{'emp1': 20, 'emp2': 25, 'emp3': 22}

In [95]:
student_scores = {
    'Andrew': 94,
    'Jessica': [96, 95],
    'Tom':{
        'bio': 93,
        'chem': 90,
        'physics': 88
    }
}

In [96]:
student_scores.keys()

dict_keys(['Andrew', 'Jessica', 'Tom'])

In [97]:
student_scores.values()

dict_values([94, [96, 95], {'bio': 93, 'chem': 90, 'physics': 88}])

In [99]:
student_scores.items()

dict_items

In [102]:
# Membership operators: in and not in

'Andy' in student_scores

False

In [103]:
'Andrew' in student_scores

True

In [104]:
'IT' in s1

True

In [105]:
name = 'Jeff'
'ef' in name

True

In [106]:
l1

[10, 20, 'abc', 30.2, 40]

In [107]:
10 in l1

True

In [108]:
age = 14
if age > 21:
    print("if")
elif age > 18:
    print("Elif")
else:
    print("Else")

Else

In [111]:
# For loop

states = ['CA', 'IN', 'TX', 'NY']
for state in states:
    print(state)

CA
IN
TX
NY

In [112]:
# range(start, stop, step) : Immutable sequence type

type(range(1, 10))

range

In [114]:
list(range(1, 10, 4))

[1, 5, 9]

In [115]:
for i in range(5): # loop from 0 to 4
    print(i)

0
1
2
3
4

In [116]:
limit = 10
while limit > 0:
    print(limit)
    limit = limit - 1

10
9
8
7
6
5
4
3
2
1

In [117]:
for i in range(1, 10):
    if i == 5:
        continue
    elif i == 8:
        break
    print(i)

1
2
3
4
6
7

In [119]:
# zipping iterables

name = ['Andrew', 'Tom', 'Jeff']
score = [100, 90, 93]

In [125]:
l3 = list(zip(name, score))
type(l3[0])

tuple

In [126]:
for name_score in zip(name, score):
    print(name_score)

('Andrew', 100)
('Tom', 90)
('Jeff', 93)

In [128]:
for student_name, student_score in zip(name, score):
    print(student_name, " ", student_score)

Andrew   100
Tom   90
Jeff   93

In [132]:
numbers = list(range(0, 13))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [133]:
odds = []
for number in numbers:
    if number%2 == 1:
        odds.append(number)
print(odds)

[1, 3, 5, 7, 9, 11]

In [134]:
# Instead of looping we can do comphrensions

# structure: [element for element in iterable]
[e for e in numbers] # prints the list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [136]:
[e**2 for e in numbers] # for each element in numbers we do square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [137]:
[number for number in numbers if number %2 == 1]

[1, 3, 5, 7, 9, 11]

In [2]:
li = [1, 2, 4, 5]
def average(li1):
    return sum(li1)/ len(li1)

In [4]:
avg = average(li)

In [5]:
def check(avg):
    return True if avg >= 3 else False

In [8]:
check(avg)

False

In [9]:
# positional vs functional parameters

def reverse_name(first, last):
    return "{}, {}".format(last, first)

In [10]:
reverse_name('Andy', 'Symond')

'Shah, Deep'

In [11]:
reverse_name(first='Andy', last='Symond')

'Shah, Deep'

In [13]:
reverse_name(last='Symond', first='Andy')

'Shah, Deep'

In [15]:
# reverse_name(last='Symond', 'Andy') # Error
reverse_name('Deep', last='Shah') # valid

'Shah, Deep'

In [5]:
#Lambda function

cube_it = lambda x : x ** 3 # way1 
print(cube_it(20))

list(map(lambda x:x**3, [1, 2, 3])) # way 2

8000

[1, 8, 27]

In [6]:
import statistics

In [9]:
scores = [10, 230, 40]
statistics.mean(scores)

93.33333333333333

In [10]:
from statistics import mean 

mean(scores)

93.33333333333333

In [11]:
from statistics import mean as avg


avg(scores)

93.33333333333333